{% if field.value == 1 %}
    <span class="badge badge-secondary">En attente de paiement</span>
{% elseif field.value == 2 %}
    <span class="badge badge-success">Payée</span>
{% elseif field.value == 3 %}
<span class="badge badge-success">Expédié</span>
{% elseif field.value == 4 %}

{% elseif field.value == 5 %}

{% elseif field.value == 6 %}

{% endif %}