{% extends 'base.html.twig' %}

{%  block content %}
  <div class="container my-5">
    <div class="small-bloc">

      <h1>Mot de passe oublié</h1>
      {# {{  form(forgotPasswordForm) }} #}

      <br>
          
      {{  form(forgotPasswordForm) }}

      <br>
      
      Vous avez déjà un compte ? <a href="{{ path('app_login') }}">Connectez-vous</a>

    </div>
  </div>
{%  endblock %}