{% extends 'base.html.twig' %}

{% block body %}
    <div class="container my-5">
        <div class="small-bloc">
            <h1>Nouveau mot de passe</h1>

            {{form(form)}}
        </div>
    </div>
{% endblock %}